<a href="https://colab.research.google.com/github/premkumarkora/Task-MongoDB_-/blob/main/mongo_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student Database (MongoDB)
Here is the student dataset in the json format. .
Perform the following operation:
First create a database and then load the student.json dataset.
Insert the students record into the collection.

Queries need to answer:

1)      Find the student name who scored maximum scores in all (exam, quiz and homework)?

2)      Find students who scored below average in the exam and pass mark is 40%?

3)      Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.

4)       Find the total and average of the exam, quiz and homework and store them in a separate collection.

5)      Create a new collection which consists of students who scored below average and above 40% in all the categories.

6)      Create a new collection which consists of students who scored below the fail mark in all the categories.

7)      Create a new collection which consists of students who scored above pass mark in all the categories.

Data set Link: https://drive.google.com/file/d/1m7bmdkn6uFCYmo_6zf8VNafqaE2c0FHY/view?usp=sharing

In [11]:
from pymongo import MongoClient
from pprint import pprint

In [12]:
client  = MongoClient("mongodb+srv://consultkora:kora123@cluster0.vtzgqdl.mongodb.net/?retryWrites=true&w=majority")

In [13]:
db = client["guvi"] # connecting to guvi Database in Atlas
db.list_collection_names()

['supermarket',
 'students',
 'Total_Marks',
 'session',
 'average_marks',
 'Passed_Students',
 'Failed_Students']

In [14]:
stu_col=db["students"]

In [15]:
stu_col.find_one()

{'_id': 31,
 'name': 'Tandra Meadows',
 'scores': [{'score': 24.90138146001744, 'type': 'exam'},
  {'score': 28.8266541837344, 'type': 'quiz'},
  {'score': 97.16831550665721, 'type': 'homework'}],
 'result': 'pass'}

In [87]:
stage1={"$unwind":"$scores"}
for i in stu_col.aggregate([stage1]):
    pprint(i)
    break

{'_id': 31,
 'name': 'Tandra Meadows',
 'result': 'pass',
 'scores': {'score': 24.90138146001744, 'type': 'exam'}}

In [77]:
#1) Find the student name who scored maximum scores in all (exam, quiz and homework)?
stage1={"$unwind":"$scores"}
stage2={"$group":{"_id":"$_id", "name":{"$addToSet":'$name'}, "total_Marks":{"$sum":"$scores.score"}}}
stage3={"$sort":{"total_Marks":-1}}
stage6={"$limit":1}

for i in stu_col.aggregate([stage1,stage2, stage3, stage6]):
    pprint(i)

{'_id': 13, 'name': ['Jessika Dagenais'], 'total_Marks': 275.94947751518237}

In [ ]:
#2) Find students who scored below average in the exam and pass mark is 40%?
# I am considering 52.33 as the Avg Score and pass mark as 40 , So doing inbetween
stage1={"$unwind":"$scores"}
stage2 = {"$match":{"$and":[{"scores.type":{"$in":["exam"]} },{"scores.score":{"$gt":40}} ,{"scores.score":{"$lte":52.3}}   ]}}
# if we want result in all then ,"quiz","homework" should be added in $in  

for i in stu_col.aggregate([stage1,stage2]):
    pprint(i)

In [ ]:
#3A)      Find students who scored below pass mark and assigned them as fail mark as fail in all the categories.
stage1={"$unwind":"$scores"}
stage2 = {"$match":{"$and":[{"scores.type":{"$in":["exam","quiz","homework"]} },{"scores.score":{"$lte":40}}]}}
# if we want result in all then ,"quiz","homework" should be added in $in
stage5={"$project":{"_id":1,"name":1,"scores.score":1,"scores.type":1}}



for i in stu_col.aggregate([stage1,stage2,stage5]):
    q = {'_id':i['_id']}
    new = {"$set":{"result": "fail"}}
    stu_col.update_one(q, new)
    print(q, new)

In [ ]:
#3B)      Find students who scored below pass mark and assigned them as pass mark as pass in all the categories.
stage1={"$unwind":"$scores"}
stage2 = {"$match":{"$and":[{"scores.type":{"$in":["exam","quiz","homework"]} },{"scores.score":{"$gt":40}}]}}
# if we want result in all then ,"quiz","homework" should be added in $in
stage5={"$project":{"_id":1,"name":1,"scores.score":1,"scores.type":1}}

stage2 = {"$match":{"$and":[{"scores.type":{"$in":["exam","quiz","homework"]} },{"sumValue":{"$add":"scores.score"}}]}}

for i in stu_col.aggregate([stage1,stage2,stage5]):
    q = {'_id':i['_id']}
    new = {"$set":{"result": "pass"}}
    stu_col.update_one(q, new)
    print(q, new)

In [ ]:
#4A)       Find the total and average of the exam, quiz and homework and store them in a separate collection.
stage1={"$unwind":"$scores"}
stage2={"$group":{"_id":"$scores.type","Avg_Score":{"$add":"$scores.score"}}}
myavgMarkscol = db['average_marks']

for i in stu_col.aggregate([stage1]):
    #myavgMarkscol.insert_one(i)
    pprint(i)

In [ ]:
#4B)       Find the total and average of the exam, quiz and homework and store them in a separate collection.
stage1={"$unwind":"$scores"}
stage2={"$group":{"_id":"$scores.type","Total_Score":{"$sum":"$scores.score"}}}
myavgMarkscol = db['Total_Marks']

for i in stu_col.aggregate([stage1,stage2]):
    #myavgMarkscol.insert_one(i)
    pprint(i)

In [86]:
stage1={"$unwind":"$scores"}
stage2={"$group":{"_id":"$scores.type","avg_score":{"$avg":"$scores.score"}}}
for i in stu_col.aggregate([stage1,stage2]):
    pprint(i)

{'_id': 'quiz', 'avg_score': 48.99672319430254}
{'_id': 'homework', 'avg_score': 67.81869620661149}
{'_id': 'exam', 'avg_score': 48.67367075950175}

In [ ]:
#5A)Create a new collection which consists of students who scored below average and above 40% in all the categories.
stage1={"$unwind":"$scores"}
stage2 = {"$match":{"$and":[{"scores.type":{"$in":["exam","quiz","homework"]} },{"scores.score":{"$lte":40}}]}}
# if we want result in all then ,"quiz","homework" should be added in $in
stage5={"$project":{"_id":0,"name":1,"scores.score":1,"scores.type":1}}
myfailcol = db['Failed_Students']


for i in stu_col.aggregate([stage1,stage2,stage5]):
    myfailcol.insert_one(i)
    print(i)

In [ ]:
#5B)Create a new collection which consists of students who scored below average and above 40% in all the categories.
stage1={"$unwind":"$scores"}
stage2 = {"$match":{"$and":[{"scores.type":{"$in":["exam","quiz","homework"]} },{"scores.score":{"$gt":40}}]}}
# if we want result in all then ,"quiz","homework" should be added in $in
stage5={"$project":{"_id":0,"name":1,"scores.score":1,"scores.type":1}}
mypasscol = db['Passed_Students']


for i in stu_col.aggregate([stage1,stage2,stage5]):
    mypasscol.insert_one(i)
    print(i)

In [ ]:
#6)Create a new collection which consists of students who scored below the fail mark in all the categories.

stage1={"$unwind":"$scores"}
stage2 = {"$match":{"$and":[{"scores.type":{"$in":["exam","quiz","homework"]} },{"scores.score":{"$lt":40}}]}}
# if we want result in all then ,"quiz","homework" should be added in $in
stage5={"$project":{"_id":0,"name":1,"scores.score":1,"scores.type":1}}
All_Categories_fail = db['All_Categories_fail']


for i in stu_col.aggregate([stage1,stage2,stage5]):
    All_Categories_fail.insert_one(i)
    print(i)

In [ ]:
#7)Create a new collection which consists of students who scored above pass mark in all the categories.
stage1={"$unwind":"$scores"}
stage2 = {"$match":{"$and":[{"scores.type":{"$in":["exam","quiz","homework"]} },{"scores.score":{"$gte":40}}]}}
stage5={"$project":{"_id":1,"name":1,"scores.score":1,"scores.type":1}}
All_Categories_pass = db['All_Categories_pass']


for i in stu_col.aggregate([stage1,stage2,stage5]):
    All_Categories_pass.insert_one(i)
    print(i)

# Telephone Directory CRUD Operation
Telephone directory: Perform CRUD operation using mongodb and python.
You need to

Import necessary modules.

Perform CRUD operations to manipulate data in MongoDB. Create, retrieve, update, and delete (CRUD)

Create a database using attribute style on a MongoClient instance. 

Declare a variable db and assign the new database as an attribute of the client.

Create a collection.
For CRUD operation, create a directory which has fields like Name, Phone number, Place etc.,

Insert the record into the collection.

Make a query to find records you just created.

Modify the records, use the update_one() method. The update_one() 
method requires two arguments, query and update.

Delete the record, use delete_one() method. delete_one() requires a query parameter which specifies the document to delete.

In [111]:
from pymongo import MongoClient
client  = MongoClient("mongodb+srv://consultkora:kora123@cluster0.vtzgqdl.mongodb.net/?retryWrites=true&w=majority")
db = client["TelephoneDirectory"] # connecting to guvi Database in Atlas
db.list_collection_names()

[]

In [113]:
Tel_Data = [
            {"_id":10, "Name":"Prem", "Phone": 9638527412, "Location": "Chennai"},
            {"_id":11, "Name":"Kumar", "Phone": 9638527345, "Location": "Kailasam"},
            {"_id":12, "Name":"Ram Kumar", "Phone": 9638345412, "Location": "Ram Nagar"},
            {"_id":13, "Name":"Philip", "Phone": 9633457412, "Location": "Tata Nagar"},
            {"_id":14, "Name":"Varun", "Phone": 7898527412, "Location": "Chennai"},
            {"_id":15, "Name":"Rahul", "Phone": 8978527412, "Location": "Chennai"},
            {"_id":16, "Name":"Rishi", "Phone": 7898527412, "Location": "Chennai"},
            {"_id":17, "Name":"Nayantara", "Phone": 9123527412, "Location": "Kodambakkam"},
            {"_id":18, "Name":"Kayal", "Phone": 9234527412, "Location": "Vellore"},
            {"_id":19, "Name":"Nandhini", "Phone": 9345527412, "Location": "Tada"}
           ]

In [114]:
dir_collection = db['Directory']
dir_collection.insert_many(Tel_Data)

In [115]:
for i in dir_collection.find():
    print(i)

{'_id': 10, 'Name': 'Prem', 'Phone': 9638527412, 'Location': 'Chennai'}
{'_id': 11, 'Name': 'Kumar', 'Phone': 9638527345, 'Location': 'Kailasam'}
{'_id': 12, 'Name': 'Ram Kumar', 'Phone': 9638345412, 'Location': 'Ram Nagar'}
{'_id': 13, 'Name': 'Philip', 'Phone': 9633457412, 'Location': 'Tata Nagar'}
{'_id': 14, 'Name': 'Varun', 'Phone': 7898527412, 'Location': 'Chennai'}
{'_id': 15, 'Name': 'Rahul', 'Phone': 8978527412, 'Location': 'Chennai'}
{'_id': 16, 'Name': 'Rishi', 'Phone': 7898527412, 'Location': 'Chennai'}
{'_id': 17, 'Name': 'Nayantara', 'Phone': 9123527412, 'Location': 'Kodambakkam'}
{'_id': 18, 'Name': 'Kayal', 'Phone': 9234527412, 'Location': 'Vellore'}
{'_id': 19, 'Name': 'Nandhini', 'Phone': 9345527412, 'Location': 'Tada'}

In [116]:
query = {"Name":"Rahul"}
update = {"$set":{"Location": "Noida"}}

In [117]:
dir_collection.update_one(query,update)

In [118]:
query1 = {"Name":"Nayantara"}

In [119]:
dir_collection.delete_one(query1)

In [120]:
for i in dir_collection.find():
    print(i)

{'_id': 10, 'Name': 'Prem', 'Phone': 9638527412, 'Location': 'Chennai'}
{'_id': 11, 'Name': 'Kumar', 'Phone': 9638527345, 'Location': 'Kailasam'}
{'_id': 12, 'Name': 'Ram Kumar', 'Phone': 9638345412, 'Location': 'Ram Nagar'}
{'_id': 13, 'Name': 'Philip', 'Phone': 9633457412, 'Location': 'Tata Nagar'}
{'_id': 14, 'Name': 'Varun', 'Phone': 7898527412, 'Location': 'Chennai'}
{'_id': 15, 'Name': 'Rahul', 'Phone': 8978527412, 'Location': 'Noida'}
{'_id': 16, 'Name': 'Rishi', 'Phone': 7898527412, 'Location': 'Chennai'}
{'_id': 18, 'Name': 'Kayal', 'Phone': 9234527412, 'Location': 'Vellore'}
{'_id': 19, 'Name': 'Nandhini', 'Phone': 9345527412, 'Location': 'Tada'}